{% extends "base_ijizhang.html" %}
{%block title%}查找收支{%endblock%}

{%block extra_header%}
<script src="/static/libs/js/date-picker.js"> </script>
{%endblock%}


{% block content %}
<div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
{% include "welcome.html" %}


<form enctype="multipart/form-data" method="post" action=""  role="form" >
{% csrf_token %}

{% if out_errors %}
<ul class="errorlist"><li>{{out_errors}}</li>
{% endif %}



{% for field in form %}

    {% if field.field.widget.attrs.checkbox %}
        <div class="checkbox">
        {{ field.errors }}
        
        {{ field }}{{ field.label }} 
        </div>

    {% else %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} 
        {{ field }}
        </div>
    {% endif %}

{% endfor %}


<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> 提交</button>
<button  onclick="javascript:history.back(-1);" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> 返回</button>

</form>
    </div>
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
</div> 
{%endblock%}