            <div class="btn-group btn-group-justified" role="group">
                <a type='button' class="btn btn-primary"  href="{% url 'jizhang:items' '' %}"><span class="glyphicon glyphicon-list"></span> 帐单</a>
                <a type='button' class="btn btn-primary"  href="{% url 'jizhang:categorys' %}"><span class="glyphicon glyphicon-briefcase"></span> 分类</a>
                <a type='button' class="btn btn-primary"  href="{% url 'jizhang:find_item' %}"><span class="glyphicon glyphicon-search"></span> 查找</a>
                <a type='button' class="btn btn-primary"  href="{% url 'jizhang:report_item' %}"><span class="glyphicon glyphicon-stats"></span> 报告</a>
            </div>
