{% extends "base_heibanke.html" %}
{%block title%}新建/编辑分类{%endblock%}



{% block content %}

{% include "welcome.html" %}


<form method="post" action=""  role="form" >
{% csrf_token %}

{% if out_errors %}
<ul class="errorlist"><li>{{out_errors}}</li>
{% endif %}



{% for field in form %}

    {% if field.field.widget.attrs.checkbox %}
        <div class="checkbox">
        {{ field.errors }}
        <label>
        {{ field }}{{ field.label }} 
        </label>
        </div>

    {% else %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} 
        {{ field }}
        </div>
    {% endif %}

{% endfor %}


<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> 提交</button>
<a type='button'  href="{% url 'jizhang:categorys' %}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> 返回</a>

</form>

{%endblock%}