{% extends "zinnia:zinnia/base.html" %}
{% load zinnia i18n %}

{% block sidebar %}
<aside id="widget-welcome" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "欢迎!" %}
  </div>
  <div class="panel-body">
    <p>
      {% trans "这里是黑板客的博客." %}
    </p>
    <p>
      {% trans "欢迎喜欢Python的同学投稿到heibanke_at_aliyun.com" %}
    </p>
  </div>
</aside>
<aside id="widget-categories" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "分类" %}
  </div>
  {% get_categories %}
</aside>

<aside id="widget-recents" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "最近文章" %}
  </div>
  {% get_recent_entries %}
</aside>
<aside id="widget-comments" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "最近评论" %}
  </div>
  <ul  class="ds-recent-comments" data-num-items="10" data-show-avatars="0" data-show-time="1" data-show-admin="1" data-excerpt-length="39"></ul>
</aside>
<!--
<aside id="widget-linkbacks" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "最近linkbacks" %}
  </div>
  {% get_recent_linkbacks %}
</aside>

<aside id="widget-populars" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "最热文章" %}
  </div>
  {% get_popular_entries %}
</aside>
-->
<aside id="widget-randoms" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "随机文章" %}
  </div>
  {% get_random_entries %}
</aside>

<aside id="widget-authors" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "链接" %}
  </div>
<ul class="list-group">
  <li class="list-group-item">
    <a href="http://study.163.com/course/courseMain.htm?courseId=1000035" title="课程" rel="bookmark">用Python做些事</a>
  </li>
  <li class="list-group-item">
    <a href="/jizhang/" title="记账" rel="bookmark">云记账demo</a>
  </li>
  
  <li class="list-group-item">
     爬虫闯关
    <ul>
 
    <li><a href="/lesson/crawler_ex00/" title="第一关" rel="bookmark">第一关</a></li>
    <li><a href="/lesson/crawler_ex01/" title="第二关" rel="bookmark">第二关</a></li>
    <li><a href="/lesson/crawler_ex02/" title="第三关" rel="bookmark">第三关</a></li>
    <li><a href="/lesson/crawler_ex03/" title="第四关" rel="bookmark">第四关</a></li>
    <li><a href="/lesson/crawler_ex04/" title="第五关" rel="bookmark">第五关</a></li>

    </ul>
  </li>
  
</ul>
</aside>

{% if user.is_authenticated %}
<aside id="widget-tools" class="widget panel panel-danger">
  <div class="panel-heading">
    {% trans "工具" %}
  </div>
  <ul class="list-group">
    {% if perms.zinnia %}
    <li class="list-group-item">
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "管理" %}">
        <span class="glyphicon glyphicon-book"></span>
        {% trans "管理" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li class="list-group-item">
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "发布文章" %}">
        <span class="glyphicon glyphicon-pencil"></span>
        {% trans "发布文章" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li class="list-group-item">
      <a href="{% url 'admin:logout' %}" title="{% trans "注销" %}">
        <span class="glyphicon glyphicon-off"></span>
        {% trans "注销" %}
      </a>
    </li>
  </ul>
</aside>
{% endif %}
{% endblock sidebar %}


<!-- duoshuo -->
{% block script %}
{{block.super}}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"heibanke"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->


{% endblock %}



