{% extends "zinnia:zinnia/entry_detail_base.html" %}
{% load static i18n zinnia %}


{% block link %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "zinnia_threaded_comments/css/comment-reply.css" %}" />
{% endblock link %}

{% block script %}
  {{ block.super }}
  {% if object.comments_are_open %}<script type="text/javascript" src="{% static "zinnia_threaded_comments/js/comment-reply.js" %}"></script>{% endif %}
{% endblock %}



{% block entry-widgets %}
<aside class="entry-widgets" role="complementary">
  {% block entry-related-entries %}
  {% with entry_related=object.related_published %}
  {% if entry_related %}
  <div class="entry-related panel panel-default">
    <div class="panel-heading">
      {% trans "相关文章" %}
    </div>
    <ul class="list-group">
      {% for entry in entry_related %}
      <li class="list-group-item">
  <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% endblock entry-related-entries %}

  {% block entry-similar-entries %}
  <div class="entry-similar panel panel-default">
    <div class="panel-heading">
      {% trans "类似文章" %}
    </div>
    {% get_similar_entries %}
  </div>
  {% endblock entry-similar-entries %}
  
  {% block entry-previous-next-entries %}
  <div class="entry-prev-next">
    <ul class="pager">
      {% with next_entry=object.next_entry %}
      {% if next_entry %}
      <li class="next">
        <a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
          {{ next_entry.title }} &rarr;
        </a>
      </li>
      {% endif %}
      {% endwith %}
      {% with previous_entry=object.previous_entry %}
      {% if previous_entry %}
      <li class="previous">
        <a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
          &larr; {{ previous_entry.title }}
        </a>
      </li>
      {% endif %}
      {% endwith %}
    </ul>
  </div>
  {% endblock entry-previous-next-entries %}
</aside>
{% endblock entry-widgets %}


{% block entry-pingbacks %}
{% endblock entry-pingbacks %}

{% block entry-trackbacks %}
{% endblock entry-trackbacks %}

{% block entry-comments %}
<a name="comments" id="comments" ></a>
<div class="ds-thread" data-thread-key="{{entry.pk}}" data-title="{{entry.title}}" data-url="http://{{ request.get_host }}{{ request.get_full_path }}"></div>
{% endblock entry-comments %}


{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li class="list-group-item">
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    <span class="glyphicon glyphicon-edit"></span>
    {% trans "编辑文章" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
