<!DOCTYPE html>
<html lang="zh-CN" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="baidu-site-verification" content="f2dwZkRE36" />

    <head>
        <title>{% block title %} 爱记账 {% endblock %}</title>

        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
        <link href="/static/libs/jquery-ui-1.11.2/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
 
        <!--[if lt IE 9]><script src="/static/libs/js/ie8-responsive-file-warning.js"></script><![endif]-->


        <!--[if lt IE 9]>
          <script src="/static/libs/js/html5shiv.js"></script>
          <script src="/static/libs/js/respond.min.js"></script>
        <![endif]-->
        <script src="/static/libs/jquery-ui-1.11.2/external/jquery/jquery.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/libs/js/d3.min.js"></script>
        <script src="/static/libs/jquery-ui-1.11.2/jquery-ui.min.js"></script>
        {% block extra_header %} {%endblock%}
    </head>
    <body>
        <div class="container-fluid">
        {%block wcontent%} {%endblock%}
        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                {%block content%} {%endblock%}
                {% include "footer.html" %}
            </div>
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
        </div>  
        </div>
    </body>
</html>