            <div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <button type='button' class="btn btn-primary"  onclick='javascrtpt:window.location.href="{% url 'jizhang:items' '' %}"'><span class="glyphicon glyphicon-list"></span> 帐单列表</button>
                <button type='button' class="btn btn-primary"  onclick='javascrtpt:window.location.href="{% url 'jizhang:categorys' %}"'><span class="glyphicon glyphicon-briefcase"></span> 分类列表</button>
                <button type='button' class="btn btn-primary"  onclick='javascrtpt:window.location.href="{% url 'jizhang:find_item' %}"'><span class="glyphicon glyphicon-search"></span> 查找帐单</button>
                <button type='button' class="btn btn-primary"  onclick='javascrtpt:window.location.href="{% url 'jizhang:report_item' %}"'><span class="glyphicon glyphicon-stats"></span> 帐单报告</button>
            </div>


